<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body class="framed">
       <header> 
        <h2>SMART WATCH PREDICTION</h2>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
        <li><a href="/predict">Statistics</a></li>
     </ul>
</nav>
<main>
    <section>
        <h3>Watch Your Wallet</h3>
        <p>Stay Ahead of Smart Watch Price Trends with Our Predictions</p>
        <img src="C:\Users\hp\OneDrive\Desktop\watch.jpg"/>
        <button>predict</button>
    </section>
</main>
        
</body>
</html>