<!DOCTYPE html>
<head>
<header>
<h2> INPUT YOUR VALUES</h2>
</header>
<body>
    <input type="text" value="Brand:" name="Brand"required><br><br>
    <input type="text" value="Model:" name="Model:"required><br><br>
    <input type="text" value="BOperating System:" name="Operating System:"required><br><br>
    <input type="text" value="Connectivity:" name="Connectivity"required><br><br>
    <input type="text" value="Display Type:" name="Display Typw"required><br><br>
    <input type="text" value="Display Size:" name="Display Size"required><br><br>
    <input type="text" value="Resolution:" name="Resolution"required><br><br>
    <input type="text" value="Water Resistance:" name="Water Resistance"required><br><br>
    <input type="text" value="Battery Life:" name="Battery Life"required><br><br>
    <input type="text" value="GPS:" name="GPS"required><br><br>
</body>